.filter {
  $size: 8px;
  flex-grow: 1;
  margin-right: $size * 4;
  min-width: 200px;

  .box {
    border: 1px solid #000;
    margin-bottom: $size * 2;
    padding: $size * 2;

    &__header {
      margin: 0 0 $size $size;
      text-transform: capitalize;
    }

    &__selection {
      margin-bottom: $size;

      input {
        cursor: pointer;
        margin-right: $size;
      }

      label {
        cursor: pointer;
      }
    }
  }
}
